<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h1>Machine Learning</h1>
    <h2>การเรียนรู้ของเครื่อง</h2>
    <h3>ข้อมูลเบื้องต้น</h3>
    <p>
        อ้างอิงจาก Adreas Muller and Guido ,2016 <br>
        การเรียนรู้ของเครื่อง(Machine Learning:ML) คือ การทำให้คอมพิวเตอร์สามารถเรียนรู้แบบ(Pattern Recognition)
        ของข้อมูลในอดีต(History Data)
        เพื่อทำการสร้างแบบจำลอง (Model) ทางคณิตศาสตร์หรือสถิติการพยากรณ์ (Forecast) หรือทำนาย (Prediction)
        จากข้อมูลในอดีตโดยอัตโนมัติ
    </p>
    <br>
    <h3>แนวทางการพัฒนา</h3>
    <h4>1.การเตรียมข้อมูล</h4>
    <h5>ข้อมูลที่ใช้</h5>
    <div style="max-height: 400px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
    <!-- ตารางข้อมูล -->
     {% if table_html_before %}
    <h3>ตารางข้อมูลความเหลื่อมล้ำทางเศรษฐกิจและความยากจนทั่วโลกในปี ค.ศ. 1980-2024</h3>
    {{ table_html_before | safe }}
{% endif %}
</div>
    <p>ชุดข้อมูลนี้รวบรวมข้อมูลตัวชี้วัดทางเศรษฐกิจระดับโลกที่เกี่ยวข้องกับความเหลื่อมล้ำทางรายได้ ความยากจน และการพัฒนาเศรษฐกิจของประเทศต่างๆ ทั่วโลก ตั้งแต่ปี 1980 ถึง 2024 ข้อมูลดังกล่าวมีที่มาจาก Kaggle.com ที่เผยแพร่โดย
        <a
            href="https://www.kaggle.com/datasets/lucalullo/global-economic-inequality-and-poverty-1980-2024/data">
             Luca Lullo </a>
        นักวเคราะห์ข้อมูลอิสระ
    </p>
    <h4>2.จัดการข้อมูล</h4>
    <p>
        จากข้อมูลที่เห็นจะพบว่ามีค่าว่าง(NULL)อยู่จำนวนมาก ทำให้ชุดข้อมูลที่มีอยู่ใช้ในทันที ดังนั้นจัดการให้อยู่ในรูปที่เหมาะสม
    </p>
    <ol>
        <li>
            สำรวจข้อมูล
        </li>
    </ol>

</body>

</html>